@charset "UTF-8";

.wrapper {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: 100vh;
}
.NYA{
  width: 200px;
  position: absolute;
  left: 0%;
  top:90px;
}

.CDG{
  width: 280px;
  height: 282px;
  background-image: url("../images/CDGCDGCDG_COM.png");
  background-size:contain;
  background-repeat:no-repeat;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}







.NYA.number1{
left:35%;
top:88%;
animation: number1  3s linear;
transform: rotate(25deg);

}

.NYA.number2{
left:51%;
top:89%;
animation: number2  3s linear;
transform: rotate(-25deg);
}

.NYA.number4{
  left:80%;
  top:81%;
  animation: number4  3s linear;
  transform: rotate(45deg);

}
.NYA.number5{
  left:80%;
  top:70%;
  animation: number5  5s linear;
}
.NYA.number6{
  left:3%;
  top:85%;
  animation: number6  3s linear;
}
.NYA.number7{
  left:18%;
  top:85%;
  animation: number7  2s linear;
  transform: rotate(65deg);
}
.NYA.number8{
  left:53%;
  top:79%;
  animation: number8  5s linear;
}
.NYA.number9{
  left:28%;
  top:78%;
  animation: number9  4s linear;
  transform: rotate(-390deg);
}
.NYA.number10{
  left:-9%;
  top:79%;
  animation: number10  5s linear;
  transform: rotate(-45deg);
}

.NYA.number11{
  left:6%;
  top:76%;
  animation: number11  5s linear;
  transform: rotate(-25deg);
}
.NYA.number12{
  left:65%;
  top:75%;
  animation: number12  5s linear;
  transform: rotate(25deg);
}
.NYA.number13{
  left:41%;
  top:76%;
  animation: number13  5s linear;
  transform: rotate(95deg);
}

.NYA.number14{
  left:22%;
  top:68%;
  animation: number14  5s linear;
  transform: rotate(10deg);
}
.NYA.number15{
  left:-3%;
  top:67%;
  animation: number15  6s linear;
  transform: rotate(20deg);
}
.NYA.number16{
  left:54%;
  top:63%;
  animation: number16  6s linear;
  transform: rotate(200deg);
}
.NYA.number17{
  left:-2%;
  top:60%;
  animation: number17  7s linear;
  transform: rotate(35deg);
}
.NYA.number18{
  left:10%;
  top:60%;
  animation: number18  8s linear;
  transform: rotate(10deg);
}
.NYA.number19{
  left:26%;
  top:56%;
  animation: number19  9s linear;
  transform: rotate(-10deg);
}
.NYA.number20{
  left:35%;
  top:60%;
  animation: number20  6s linear;
  transform: rotate(-15deg);
}
.NYA.number21{
  left:63%;
  top:61%;
  animation: number21  8s linear;
  transform: rotate(45deg);
}
.NYA.number22{
  left:80%;
  top:60%;
  animation: number22  5s linear;
  transform: rotate(-25deg);
}


.NYA.Y{
  left:70%;
  top:94%;
  animation: number3  2s linear;  
}



.NYA.P {
  top:70%;
  left:76%;
  transform: rotate(-160deg);
  animation: number23  8s linear;
}



















@keyframes number1{
  from{
    top: -10%;
  }
  to{
    top:88%;
  }
}
@keyframes number2{
  from{
    top: -10%;
    transform: rotate(-35deg);
  }
  to{
    top:89%;
    transform: rotate(315deg);
  }
}
@keyframes number3{
  from{
    top: -10%;
    transform: rotate(0deg);
  }
  to{
    top:94%;
    transform: rotate(360deg);
  }
}
@keyframes number4{
  from{
    top: -10%;
  }
  to{
    top:81%;
  }
}

@keyframes number5{
  from{
    top: -10%;
  }
  to{
    top:70%;
  }
}
@keyframes number6{
  from{
    top: -10%;
  }
  to{
    top:85%;
  }
}
@keyframes number7{
  from{
    top: -10%;
  }
  to{
    top:85%;
  }
}
@keyframes number8{
  from{
    top: -10%;
  }
  to{
    top:79%;
  }
}
@keyframes number9{
  from{
    top: -10%;

  }
  to{
    top:78%;

  }
}
@keyframes number10{
  from{
    top: -10%;
  }
  to{
    top:78%;
  }
}
@keyframes number11{
  from{
    top: -10%;
  }
  to{
    top:76%;
  }
}
@keyframes number12{
  from{
    top: -10%;
  }
  to{
    top:75%;
  }
}
@keyframes number13{
  from{
    top: -10%;
  }
  to{
    top:76%;
  }
}
@keyframes number14{
  from{
    top: -10%;
    transform: rotate(0deg);
  }
  to{
    top:68%;
    transform: rotate(730deg);
  }
}
@keyframes number15{
  from{
    top: -10%;
  }
  to{
    top:67%;
  }
}
@keyframes number16{
  from{
    top: -10%;
    transform: rotate(0deg);
  }
  to{
    top:63%;
    transform: rotate(560deg);
  }
}
@keyframes number17{
  from{
    top: -10%;
  }
  to{
    top:60%;
  }
}
@keyframes number18{
  from{
    top: -10%;
  }
  to{
    top:60%;
  }
}
@keyframes number19{
  from{
    top: -10%;
  }
  to{
    top:56%;
  }
}
@keyframes number20{
  from{
    top: -10%;
  }
  to{
    top:60%;
  }
}
@keyframes number21{
  from{
    top: -10%;
  }
  to{
    top:61%;
  }
}
@keyframes number22{
  from{
    top: -10%;
  }
  to{
    top:60%;
  }
}
@keyframes number23{
  from{
    top: -10%;
    transform: rotate(0deg);
  }
  to{
    top:70%;
    transform: rotate(200deg);
  }
}